.kook {
    background-color: rgba(146, 234, 220, 0.61);
    height: 100px;
}
.T {
    background-color: rgba(238, 194, 205, 0.6);
    height: 40px;
}
.Jimi {
    background-color: rgba(129, 144, 255, 0.61);
    height: 150px;
}
.P-Mon {
    background-color: rgba(194, 168, 238, 0.61);
    height: 150px;
}
.Hope {
    background-color: rgba(116, 122, 219, 0.61);
    height: 150px;
}
.S {
    background-color: rgba(160, 255, 186, 0.5);
    height: 40px;
}
.Jin {
    background-color: rgba(222, 230, 75, 0.6);
    height: 40px;
}
.V {
    background-color: rgba(221, 110, 98, 0.6);
    height: 40px;
}
body {
    background-image: url("../image/ZAJykH0rBI8.jpg");
}